*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

curriculumVitae{
   background: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh ;
}

contenido{
    position: relative;
    width: 70%;
    max-width: 70%;
    min-height: 90vh;
    background: #fff;
    margin: 50px;
    display: grid;
    grid-template-columns:1fr 2fr;
    box-shadow: 0 35px 55px rgba(0,0,0,0.1);
}

contenido left_Side{
    position:relative;
    background: #003147;
    padding: 40px;
}

fotografia{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.733);
}

fotografia foto{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

contacto{
    padding-top: 3em;
    padding-left: 10px;
}

contacto celular{
    position: relative;
    margin: 10px 0;
    cursor: pointer;
    display: block;
    color: aliceblue;
    padding-left: 1.5em;
}

contacto telefono{
    position: relative;
    margin: 10px 0;
    cursor: pointer;
    display: block;
    color: aliceblue;
    padding-left: 1.5em;
}
contacto correo{
    position: relative;
    margin: 10px 0;
    cursor: pointer;
    display: block;
    color: aliceblue;
    padding-left: 1.5em;
}

formacionesAcademicas .formacionAcademica{
    margin-top: 1em;
}
formacionAcademica institucionEducativa{
    display: block;
    color: aliceblue;
    font-weight: 500;
    padding-top: 1em;
}

formacionAcademica tituloAcademico{
    display: block;
    color: aliceblue;
    font-weight: 500;
}

formacionAcademica periodoE{
    display: block;
    color: aliceblue;
    font-weight: 500;
}

right_Side[titulo]::before{
    content: attr(titulo);

    /*Estilos*/
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(18, 29, 39);
    display: block;
    padding-top: 20px;
    padding-bottom: 5px;
    font-size: 30px;
}

/*Contenido lado derecho */

contenido right_Side{
    padding: 1.5em;
    position:relative;
    background: #fff;

}
right_Side datosPersonales{
    padding-top: 1em;
    padding-right: 1em;
    padding-left: 1em;
    padding-bottom: 1em;
}

datosPersonales[name]::before{
    content: attr(name);

    /*Estilos*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
    display:block;
    padding-bottom: 10px;
    padding-left: 10px;
    font-size: 25px;
}

right_Side datosPersonales:last-child{
    margin-top: 0;
}

nombre[name]::before{
    content: attr(name) ": ";
    /*Estilos*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
    display:inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
    padding-left: 2.5em;
}

nombre{
    color: #003147;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 5px;
    /*padding-left: 2.5em;*/
    font-size: 20px;
}

apellido{
    color: #003147;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 5px;
    /*padding-left: 2.5em;*/
    font-size: 20px;
}

edad[identificador]::before{
    content: attr(identificador) ": ";

    /*Estilos*/
    /*text-align: center;*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(26, 122, 212);
    display: inline-block;
    padding-top: 20px;
    padding-left: 2.5em;
    font-size: 20px;
    /*padding-bottom: 20px;*/
    padding-right: 0.2em;
}

edad{
    display: block;
    color: #003147;
    /*text-transform: uppercase;*/
    letter-spacing: 1px;
    margin-bottom: 5px;
    /*padding-left: 2.5em;*/
    font-size: 20px;
}

dui[identificador]::before{
    content: attr(identificador) ": ";

    /*Estilos*/
    /*text-align: center;*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(26, 122, 212);
    display: inline-block;
    padding-top: 20px;
    padding-left: 2.5em;
    font-size: 20px;
    /*padding-bottom: 20px;*/
    padding-right: 0.2em;
}

dui{
    display: block;
    color: #003147;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 5px;
   /* padding-left: 2.5em; */
   font-size: 20px;
}

nit[identificador]::before{
    content: attr(identificador) ": ";

    /*Estilos*/
    /*text-align: center;*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(26, 122, 212);
    display: inline-block;
    padding-top: 20px;
    padding-left: 2.5em;
    font-size: 20px;
    /*padding-bottom: 20px;*/
    padding-right: 0.2em;
}

nit{
    display: block;
    color: #003147;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 5px;
  /*  padding-left: 2.5em; */
  font-size: 20px;
}

isss[identificador]::before{
    content: attr(identificador) ": ";

    /*Estilos*/
    /*text-align: center;*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(26, 122, 212);
    display: inline-block;
    padding-top: 20px;
    padding-left: 2.5em;
    font-size: 20px;
    /*padding-bottom: 20px;*/
    padding-right: 0.2em;
}

isss{
    display: block;
    color: #003147;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 5px;
   /* padding-left: 2.5em; */
   font-size: 20px;
}

afp[identificador]::before{
    content: attr(identificador) ": ";

    /*Estilos*/
    /*text-align: center;*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(26, 122, 212);
    display: inline-block;
    padding-top: 20px;
    padding-left: 2.5em;
    padding-right: 0.2em;
    font-size: 20px;
    /*padding-bottom: 20px;*/
}

afp{
    display: block;
    color: #003147;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 5px;
    /*padding-left: 2.5em;*/
    font-size: 20px;
}

/*EXPERIENCIAS LABORALES*/

experienciaLaborales[titulo]::before{
    content: attr(titulo);

    /*Estilos*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: block;
    padding-top: 20px;
    color: rgb(0, 0, 0);
    font-size: 25px;
    padding-left: 10px;
    /*padding-bottom: 20px;*/
}

/*right_Side experienciaLaborales{
    padding:1em;
}*/


experienciaLaborales experienciaLaboral{
    /*padding:1em;*/
    display: block;
}

periodo[identificador]::before{
    content: attr(identificador) ":";

    /*Estilos*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(26, 122, 212);
    display: inline-block;
    padding-top: 20px;
    padding-left: 2.5em;
    font-size: 20px;
    padding-right: 0.2em;
    /*padding-bottom: 20px;*/
}

experienciaLaboral periodo{
    text-transform: uppercase;
    color: #003147;
    margin-top: 10px;
    display: block;
    font-size: 20px;
  /*  padding-left: 1.5em; */
}

institucionLaboral[institucion]::before{
    content: attr(institucion) ":";

    /*Estilos*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(26, 122, 212);
    display: inline-block;
    padding-top: 20px;
    padding-left: 2.5em;
    font-size: 20px;
    padding-right: 0.2em;
    /*padding-bottom: 20px;*/
}

experienciaLaboral institucionLaboral{
    text-transform: uppercase;
    color: #003147;
    margin-top: 10px;
    display: inline-block;
    font-size: 20px;
   /* padding-left: 0.7em; */
}

cargo[identificador]::before{
    content: attr(identificador) ":";

    /*Estilos*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(26, 122, 212);
    display: inline-block;
    padding-top: 20px;
    padding-left: 2.5em;
    font-size: 20px;
    padding-right: 0.2em;
    /*padding-bottom: 20px;*/
}

experienciaLaboral cargo{
    text-transform: uppercase;
    color: #003147;
    margin-top: 10px;
  /*  padding-left: 1.5em; */
    display: block;
    font-size: 20px;
}

/*Competencias */

competencias[titulo]::before{
    content: attr(titulo);

    /*Estilos*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: block;
    padding-top: 20px;
    color: rgb(0, 0, 0);
    font-size: 25px;
    padding-left: 10px;
}

right_Side competencias{
    padding:1em;
}

competencia[id]::before{
    content: attr(id);

    /*Estilos*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(18, 29, 39);
    display: inline-block;
    padding-top: 20px;
    padding-right: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left:0.8em;
    font-size: 20px;

}

competencia tituloC {
    text-transform: uppercase;
    color: #002333;
   /* margin-top: 10px; */
    display: inline-block;
    padding-left: 0.1em;
    font-size: 21px;
}
competencia descripcion{
    color: #000000;
    /*margin-top: 5px;*/
    display: block;
    padding-left: 2.7em;
    text-align: justify;
    font-size: 20px;
}

/*REFERENCIAS*/

referencias[titulo]::before{
    content: attr(titulo);
    
    /*Estilos*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: block;
    padding-top: 20px;
    color: rgb(0, 0, 0);
    font-size: 25px;
    padding-left: 10px;
}

referencia[id]::before{
    content: attr(id);
    /*Estilos*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(18, 29, 39);
    display: inline-block;
    padding-right: 1em;
    padding-top: 1em;
    /*padding-bottom: 1em;*/
    padding-left:0.8em;
    font-size: 20px;
}

nombreR[name]::before{
    content: attr(name) ":";
    
    /*Estilos*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(26, 122, 212);
    display: inline-block;
    /*padding-top: 20px;*/
   /* padding-left: 2.5em; */
    font-size: 20px;
    padding-right: 0.2em;
    padding-bottom: 7px;
}

referencia nombreR {
    text-transform: uppercase;
    color: #003147;
    /*margin-top: 10px;*/
    display: inline-block;
    font-size: 20px;
    /*padding-left: 1.5em;*/
}
referencia apellidoR {
    text-transform: uppercase;
    color: #003147;
    /*margin-top: 10px;*/
    display: inline-block;
    font-size: 20px;
    /*padding-left: 1.5em;*/
}

institucionLaboralR[referencia]::before{
    content: attr(referencia) ":";
    
    /*Estilos*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(26, 122, 212);
    display: inline-block;
    /* padding-top: 20px; */
    /*padding-left: 2.5em;*/
    font-size: 20px;
    padding-right: 0.2em;
}

referencia institucionLaboralR {
    text-transform: uppercase;
    color: #003147;
    /*margin-top: 10px;*/
    display: block;
    padding-left: 2.6em;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 7px;
}

telefonoR[tel]::before{
    content: attr(tel) ":";
    
    /*Estilos*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(26, 122, 212);
    display: inline-block;
   /* padding-top: 20px; */
   /* padding-left: 2.5em; */
    font-size: 20px;
    padding-right: 0.2em;
}

referencia telefonoR {
    text-transform: uppercase;
    color: #003147;
    /*margin-top: 10px;*/
    display: block;
    font-size: 20px;
    padding-left: 2.6em;
    padding-top: 10px;
    padding-bottom: 7px;
    /*padding-left: 1.5em;*/
}