/*Estilos css*/
/* Grupo 05*/
*{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


facultad[nombre]::before{
    content: "Facultad de "attr(nombre);
    display: block;
    font-size: 300%;
    text-align: center;
}
carrera[nombre]::before{
    content: "Carrera en "attr(nombre);
    display: block;
    text-align: center;
    font-size: 150%;
}
asignatura[nombre]::before{
    content: "Asignatura de " attr(nombre);
    display: block;
    text-align: center;
    font-size: 150%;
}
universidad{
    background-color: rgb(205, 240, 228);
}
gt[numero]::before{
    content:"Grupo Teórico número: " attr(numero);
    display: block;
    text-align: center;
    font-size: 150%;
    margin-top: 20px;
    margin-bottom: 10px;
}
integrantes{
    display: table;
    text-align: center;
    border: 1px solid;
    border-collapse: collapse;
    margin: auto;
}
tema{
    text-align: center;
    font-size: 250%;
    display: block;
    font:200;
}
coordinador{
    display: table-row;
    text-align: center; 
    background-color: rgb(224, 224, 115);
}
integrante{
    display:table-row;
    text-align: center; 
    background-color: rgb(224, 224, 115);
}
cabecera{
    display:table-row;
    font: bold 14px arial; 
    text-align: center; 
    background-color: rgb(63, 136, 204);
}
carnet, apellido, nombre{
    display: table-cell;
    border: 1px solid;
    padding: 5px;
    
}
actividadEvaluada[porcentaje]::after{
    content: "- Porcentaje: " attr(porcentaje);
}
actividadEvaluada{
    display: block;
    font-size: 150%;
}
