/*Estilos css*/
/* Grupo 05*/
*{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


facultad[nombre]::before{
    content: "Facultad de "attr(nombre);
    display: block;
    font-size: 300%;
    text-align: center;
    padding-bottom: 30px;
}
carrera[nombre]::before{
    content: "Carrera: Ingeniería en " attr(nombre);
    display: block;
    text-align: center;
    font-size: 150%;
    padding-bottom: 5px;
}
asignatura[nombre]::before{
    content: "Asignatura: " attr(nombre);
    display: block;
    text-align: center;
    font-size: 150%;
}
universidad{
    background-color: rgb(205, 240, 228);
    padding-bottom: 30px;
    padding-top: 30px;
}
gt[numero]::before{
    content:"Profesor: "attr(profesor) " - Grupo Teórico número: " attr(numero) ;
    display: block;
    text-align: center;
    font-size: 150%;
    margin-top: 10px;
    margin-bottom: 10px;
}
equipo[numero]::before{
    content:"Numero de grupo: " attr(numero) ;
    display: block;
    text-align: center;
    font-size: 2.3em;
    margin: 15px;
}
coordinador[sexo]::after{
    content:"-Sexo del coordinador: " attr(sexo);
    font-weight: bold;
    font-size: 1rem;
    position: absolute;
}
integrantes{
    display: table;
    text-align: center;
    border: 1px solid;
    border-collapse: collapse;
    margin: auto;
    font-size: 20px;
}
tema{
    text-align: center;
    font-size: 250%;
    display: block;
    font-size: 1.7em;
    padding-bottom: 15px;
}
tema::before{
    content: "Tema: ";
}
coordinador{
    display: table-row;
    text-align: center; 
    background-color: rgb(224, 224, 115);
}

integrante{
    display:table-row;
    text-align: center; 
    background-color: rgb(224, 224, 115);
}
cabecera{
    display:table-row;
    font: bold 14px arial; 
    text-align: center; 
    background-color: rgb(63, 136, 204);
}
carnet, apellido, nombre{
    display: table-cell;
    border: 1px solid;
    padding: 5px;
    
}
actividadEvaluada[porcentaje]::after{
    content: "- Porcentaje: " attr(porcentaje);
}
actividadEvaluada{
    display: block;
    font-size: 150%;
    padding-bottom: 30px;
}
