/*Definicion de caracteristicas globales*/


* {
    display:block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}


/*Coloca el atributo antes del contenido del elemento*/
nombre[sexo]::before {
    content: " (Genero " attr(sexo) ") ";
    color:blue;
}

/*Coloca el atributo despues del contenido del elemento*/
/*nombre[sexo]::after {
    content: " sexo: " attr(sexo);
    color:red;
}
*/

nombre[edad]::after{
    content: " (Edad " attr(edad)") ";
    background-color: yellow;
}

/*Estilos general a la etiqueta nombre*/
nombre{
    background-color: rgb(210, 218, 230);
    padding-top: 15px;
    height: 50px;
    width: 304px;
   display: inline-block !important;
}

/*Si actuara como un html*/

fichero{
    background-color: aquamarine;
    margin: 20px;
}

ficha{
    padding-top: 30px;
    background-color: green;
    height: 170px;
    width: 400px;
    text-align: center;
}

apellido{
    background-color: blanchedalmond;
    height: 50px;
    width: 150px;
    display: inline-block !important;
    text-align: center;
    padding-top: 20px;
}

direccion{
    background-color: blueviolet;
    height: 50px;
    width: 150px;
    display: inline-block !important;
    padding-top: 20px;
}

